._knives {
.menu-collapse{
	float:right;
	display:inline;
}
.arrows-right_white_b,
.arrows-right_blue_m{
	float:right;
}
ul, li, p{
	list-style:none;
	padding:0px;
	margin:0px;
}

._menuTitle{
  @include bg-medium-gray;
  margin:0px;
  padding:5px;
}

.CatalogSort{
  border-bottom:4px $black solid;
  display:block;
  padding:2px 0;

}
.CartButtons > div > div > div{
  padding:15px 0;
  text-align:center !important;
  @include background(linear-gradient($red, $dark_red));
  font-weight:bold;
  font-size: 18px;
  color:#fff;
  margin:5px;
  > a{
  color:#fff;
  display:block;
  }
  > input{
  font-weight:bold;
  font-size: 18px;
  color:#fff;
  cursor:pointer;
  padding:5px 0 15px;
  text-align:center;
  display:block;
  
  }
}
.CartButtons > div > div > div:first-of-type{
  padding:0px
}
#reviewsTop{
  
  > ul{
  border-top:3px $black solid;
  }
}
.PDSocial{
  
  display:none;
}
.BodyContent{
  
  > div{
  border-bottom:3px $black solid;

  > div{

  border-bottom:3px $black solid;
  }
  }
}

.PDBrandDesc img{
  display:block;
}
  ._category > div > p{
  @include bg-black;
  margin:0px;
  padding:5px;
  color:#fff;
  font-weight:bold;


  }
  ._subCategory {

   p{
  margin:0px;
  @include bg-dark-gray;
  padding:5px;
  color:$dark_orange;
  }
  a {
  display:block;
  padding:5px;
  @include bg-light-gray;
  }
  > ul > li{
  @include bg-light-gray;
  }
  }
  ._category2{
  margin:0px;
   > ul {
   list-style:none;
   padding:0px;
   margin:0px;

   > li {
  @include bg-dark-gray;
  padding:5px;
  > a {
  display:block;
  color:$white;
  }
  }
  }
  }
}