._home {
.menu-collapse{
	float:right;
	display:inline;
}
.arrows-right_white_b,
.arrows-right_blue_m{
	float:right;
}
ul, li, p{
	list-style:none;
	padding:0px;
	margin:0px;
}

#mw_heroSlider{
  height: auto;
  position: relative;
  max-width: 480px;
  overflow: hidden;
  margin:0 auto;
  z-index: 1;

  div[data-ur-carousel-component="dots"]{
  position: absolute;
  bottom: 2px;  
  left:217px;
  z-index:5;
  pointer-events: none;

  }
  div[data-ur-carousel-component="scroll_container"]{
  position:relative;
  width:480px;
  }

  div[data-ur-carousel-component="scroll_container"] > * {
  display: inline-block;
  float: left;
  height:auto;

}
}
  ._category > div > p{
  @include background(linear-gradient($medium_gray, $dark_gray));
  margin:0px;
  padding:5px;
  color:#fff;
  font-weight:bold;


  }
  ._subCategory {

   p{
  margin:0px;
  @include bg-dark-blue;
  padding:5px;
  color:$white;
  }
  a {
  display:block;
  padding:5px;
  @include bg-light-gray;
  color:$black;
  }
  > ul > li{
  @include bg-light-gray;
  border:none;
  }
  }
  ._category2{
  margin:0px;
  display:none;
   > ul {
   list-style:none;
   padding:0px;
   margin:0px;

   > li {
  @include bg-dark-gray;
  padding:5px;
  > a {
  display:block;
  color:$white;
  }
  }
  }
  }
}