._knives {
.menu-collapse{
	float:right;
	display:inline;
}
.arrows-right_white_b,
.arrows-right_blue_m{
	float:right;
}
ul, li, p{
	list-style:none;
	padding:0px;
	margin:0px;
}

._menuTitle{
  @include bg-medium-gray;
  margin:0px;
  padding:5px;
}

.CatalogSort{
  border-bottom:4px $black solid;
  display:block;
  padding:2px 0;

}
.Pagination {
  display:block;

  >ul{

  >li{
  float:left;

  >a{
  float:left;
  margin: 0 15px;
  padding: 0 5px;
  display:block;
  }
  }
  }
}
.Products{
  
  > ul{

  > li{
  border-bottom:3px $black solid;
  text-align:center;

  > a{
  

  > span:first-of-type{
    display:block;
  }

  > span + span{
  position:relative;
  


  }
  }

  }
  }
}
  ._category > div > p{
  @include background(linear-gradient($medium_gray, $dark_gray));
  margin:0px;
  padding:5px;
  color:#fff;
  font-weight:bold;


  }
  ._subCategory {

   p{
  margin:0px;
  @include bg-dark-blue;
  padding:5px;
  color:$white;
  }
  a {
  display:block;
  padding:5px;
  @include bg-light-gray;
  border:none;
  color:$black;
  }
  > ul > li{
  @include bg-light-gray;
  border:none;
  }
  }
  ._category2{
  margin:0px;
  display:none;
   > ul {
   list-style:none;
   padding:0px;
   margin:0px;

   > li {
  @include bg-dark-gray;
  padding:5px;
  > a {
  display:block;
  color:$white;
  }
  }
  }
  }
}