$menu-url: url("/_moovweb_local_assets_/images/menu.png");

$menu-width: 24px;
$menu-height: 294px;

$menu-arrow_right_blue-x: 0px;
$menu-arrow_right_blue-y: 0px;
$menu-arrow_right_blue-width: 8px;
$menu-arrow_right_blue-height: 13px;

$menu-arrow_right_blue_s-x: 0px;
$menu-arrow_right_blue_s-y: -14px;
$menu-arrow_right_blue_s-width: 6px;
$menu-arrow_right_blue_s-height: 11px;

$menu-call_us-x: 0px;
$menu-call_us-y: -26px;
$menu-call_us-width: 16px;
$menu-call_us-height: 17px;

$menu-collapse-x: 0px;
$menu-collapse-y: -44px;
$menu-collapse-width: 20px;
$menu-collapse-height: 20px;

$menu-collapse_2-x: 0px;
$menu-collapse_2-y: -65px;
$menu-collapse_2-width: 20px;
$menu-collapse_2-height: 20px;

$menu-collapse_3-x: 0px;
$menu-collapse_3-y: -86px;
$menu-collapse_3-width: 20px;
$menu-collapse_3-height: 20px;

$menu-contract-x: 0px;
$menu-contract-y: -107px;
$menu-contract-width: 20px;
$menu-contract-height: 20px;

$menu-contract_2-x: 0px;
$menu-contract_2-y: -128px;
$menu-contract_2-width: 20px;
$menu-contract_2-height: 20px;

$menu-contract_3-x: 0px;
$menu-contract_3-y: -149px;
$menu-contract_3-width: 20px;
$menu-contract_3-height: 20px;

$menu-help-x: 0px;
$menu-help-y: -170px;
$menu-help-width: 16px;
$menu-help-height: 17px;

$menu-live_chat-x: 0px;
$menu-live_chat-y: -188px;
$menu-live_chat-width: 16px;
$menu-live_chat-height: 17px;

$menu-login-x: 0px;
$menu-login-y: -206px;
$menu-login-width: 16px;
$menu-login-height: 17px;

$menu-new_account-x: 0px;
$menu-new_account-y: -224px;
$menu-new_account-width: 16px;
$menu-new_account-height: 17px;

$menu-order_status-x: 0px;
$menu-order_status-y: -242px;
$menu-order_status-width: 16px;
$menu-order_status-height: 17px;

$menu-search-x: 0px;
$menu-search-y: -260px;
$menu-search-width: 16px;
$menu-search-height: 15px;

$menu-shopping-x: 0px;
$menu-shopping-y: -276px;
$menu-shopping-width: 24px;
$menu-shopping-height: 18px;

@mixin menu-arrow_right_blue() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px 0px;
  width: 8px;
  height: 13px;
}

@mixin menu-arrow_right_blue_s() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -14px;
  width: 6px;
  height: 11px;
}

@mixin menu-call_us() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -26px;
  width: 16px;
  height: 17px;
}

@mixin menu-collapse() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -44px;
  width: 20px;
  height: 20px;
}

@mixin menu-collapse_2() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -65px;
  width: 20px;
  height: 20px;
}

@mixin menu-collapse_3() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -86px;
  width: 20px;
  height: 20px;
}

@mixin menu-contract() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -107px;
  width: 20px;
  height: 20px;
}

@mixin menu-contract_2() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -128px;
  width: 20px;
  height: 20px;
}

@mixin menu-contract_3() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -149px;
  width: 20px;
  height: 20px;
}

@mixin menu-help() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -170px;
  width: 16px;
  height: 17px;
}

@mixin menu-live_chat() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -188px;
  width: 16px;
  height: 17px;
}

@mixin menu-login() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -206px;
  width: 16px;
  height: 17px;
}

@mixin menu-new_account() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -224px;
  width: 16px;
  height: 17px;
}

@mixin menu-order_status() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -242px;
  width: 16px;
  height: 17px;
}

@mixin menu-search() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -260px;
  width: 16px;
  height: 15px;
}

@mixin menu-shopping() {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -276px;
  width: 24px;
  height: 18px;
}

.menu-arrow_right_blue {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px 0px;
  width: 8px;
  height: 13px;
}

.menu-arrow_right_blue_s {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -14px;
  width: 6px;
  height: 11px;
}

.menu-call_us {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -26px;
  width: 16px;
  height: 17px;
}

.menu-collapse {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -44px;
  width: 20px;
  height: 20px;
}

.menu-collapse_2 {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -65px;
  width: 20px;
  height: 20px;
}

.menu-collapse_3 {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -86px;
  width: 20px;
  height: 20px;
}

.menu-contract {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -107px;
  width: 20px;
  height: 20px;
}

.menu-contract_2 {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -128px;
  width: 20px;
  height: 20px;
}

.menu-contract_3 {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -149px;
  width: 20px;
  height: 20px;
}

.menu-help {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -170px;
  width: 16px;
  height: 17px;
}

.menu-live_chat {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -188px;
  width: 16px;
  height: 17px;
}

.menu-login {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -206px;
  width: 16px;
  height: 17px;
}

.menu-new_account {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -224px;
  width: 16px;
  height: 17px;
}

.menu-order_status {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -242px;
  width: 16px;
  height: 17px;
}

.menu-search {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -260px;
  width: 16px;
  height: 15px;
}

.menu-shopping {
  background: url("/_moovweb_local_assets_/images/menu.png") no-repeat 0px -276px;
  width: 24px;
  height: 18px;
}
