footer._footer {


	._menuContainer h2{
	@include background(linear-gradient($medium_gray, $light_gray, $medium_gray));
	padding:10px;
	margin:0px;
	color:$dark_orange;

	.menu-collapse{
	float:right;
	margin-right:5px;
	}	
	}
	._emailSocialBox {
	margin:2px;
	padding:0 5px;
	@include bg-light-gray;
	> p{
	line-height:12px;
	margin:0px;
	}
	}
	.EmailInput form{
	padding-top:10px;
	> input:first-of-type{
	height:25px;
	box-radius:5px;
	float:left;
	}
	}	

	._subFootMenu{
	@include bg-gray;
	padding:10px; 
	margin:0px;
	color:#fff;

	.menu-collapse{
	float:right;
	margin-right:5px;
	}	
	}
	._subFootMenu + h3{
	margin:0px;

	
	}
	._subFootMenu + h4{
	margin:0px;
	 > a{
	@include bg-light-gray;
	padding:5px;
	margin:0px;
	display:block;
	}
	.arrows-right_white_b{
	float:right;
	}
	}
}