header._header {

._top{
	@include background(linear-gradient($medium_gray, $light_gray, $medium_gray));
	padding:10px 0 0;
._logo{
	margin-left:5px;
}
._eyeGlass{
	float:right;
	height:20px;
	width:20px;
	padding:10px;
	@include background(linear-gradient($red, $dark_red));
	border-radius:5px;
	margin-right:10px;
}
._cartbutton{
	float:right;
	height:20px;
	width:20px;
	padding:10px;
	@include background(linear-gradient($red, $dark_red));
	border-radius:5px;
	margin-right:10px;
}	
}
._cart{

@include bg-gray2;
height:40px;

 > a {
color:#fff;


 > h2{
	margin:2px auto;
	text-align:center;
	@include background(linear-gradient($red, $dark_red));
	border-radius:5px;
	width:15%;
	padding:5px;

}
}	
}
._search{

@include bg-gray2;
height:40px;

._searchWrapper{
width:200px;
margin:0 auto;
position:relative;


}
.placeholder{
width:190px;
height:32px;
border-radius:5px;
}

.SearchBtn{
@include button;
@include background(linear-gradient($red, $dark_red));	
height: 34px;
padding: 0;
border:none;
color:$white;
position: absolute;
right:10px;
top: 3px;
width: 42px;
border-radius:5px;
}
}
}